:root {
    --background: #f9f2f2;
    --textColor: rgb(43, 39, 39);
    --checkboxBorder: #3d9863;
    --checkboxColor: #6ec26eb5;
    --white: #ffffff;
    --todoBorder: #c0bbbb8f;
    --btnTextColor: #2f2b2b;
    --actionBtnColor: #ece2e2;
    --actionBtnHoveredColor: #c6b9b9;
}

body {
    background-color: var(--background);
    color: var(--textColor);
    min-height: 100vh;
}

.main-container {
    height: 90vh;
    overflow: scroll;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.todo-is-completed .checkbox {
    background: var(--checkboxColor);
}

.todo-is-completed .todoTextarea {
    text-decoration: line-through;
    text-decoration-color: #ada1a1;
    text-decoration-thickness: 2px;
}

.todo-list-stats,
.uncheck-all {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    text-align: center;
    font-size: large;
}

.todo-list-stats .completedCheck,
.allDone {
    margin-left: 6px;
    font-size: 1.5rem;
    display: inline-block;
    color: green;
    position: relative;
    bottom: 5px;
}

.allDone {
    font-size: inherit;
    bottom: 6px;
}

.btn-delete-todo {
    background: none;
    position: absolute;
    top: 0;
    right: 1px;
    border-radius: 50%;
}

.uncheck-all button {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1rem;
}

footer {
    bottom: 5px;
    left: 20%;
    right: 20%;
    text-align: center;
    padding-bottom: 5px;
}

.footerText {
    font-family: monospace;
    padding-bottom: 3%;
    padding-top: 5%;
}

footer a {
    text-decoration: none;
    color: #9a5a89;
}