:root {
    --background: #f9f2f2;
    --textColor: rgb(43, 39, 39);
    --checkboxBorder: #3d9863;
    --checkboxColor: #6ec26eb5;
    --white: #ffffff;
    --todoBorder: #c0bbbb8f;
}

body {
    background-color: var(--background);
    color: var(--textColor);
    min-height: 100vh;
}

.todo-list-name {
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.todo-list-name input {
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: white; */
    padding-bottom: 20px;
}

.todo {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    border: solid var(--todoBorder);
    padding: 2px 10px;
    border-radius: 16px;
    min-width: 50%;
}

.todo-is-completed .checkbox {
    /* color: #433c3c; */
    background: var(--checkboxColor);
}

.todo-is-completed input {
    text-decoration: line-through;
    text-decoration-color: #ada1a1;
    text-decoration-thickness: 2px;
}

.checkbox {
    width: 25px;
    height: 22px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
    border: 1px solid var(--checkboxBorder);
}

.checkbox:hover {
    background: var(--checkboxColor);
    border: 1px solid rgba(255, 255, 255, 0);
}

input {
    border: none;
    background: transparent;
    /* color: white; */
    font-size: 1.4rem;
    outline: none;
    width: 100%;
}

.btn-action {
    border-color: transparent;
    background: #c6b9b9;
    border-radius: 45%;
    color: #2f2b2b;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.btn-action:hover {
    background: #ece2e2;
}

.todo-btns-action {
    display: flex;
    justify-content: center;
}

.todo-index {
    cursor: pointer;
}

;